# --- Build & editor ---
/build/
*.o
*.exe
*.out
*.a
*.so
*.swp

# --- Binarios del proyecto ---
*bin
*bin.txt

# --- Diccionarios ---
dict.txt

# --- Documentos ---
*.docx
*.pdf

# --- TODOs ---
*.todo
TODO.md
